.search-container {
    text-align: center;
    background-color: aquamarine;
}

.preview-container {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.preview-container-init {
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: bisque;
}

.detail-container-left {
    position: relative;
    float: left;
    text-align: center;
    width: 50%;
    height: 400px;
    background-color: aqua;
}

.detail-container-right {
    float: right;
    text-align: center;
    width: 50%;
    height: 400px;
    background-color: lime;
}

.temperature-container {
    clear: both;
    text-align: center;
    width: 100%;
    height: 33.3%;
    background-color: blue;
}

.humidity-container {
    clear: both;
    text-align: center;
    width: 100%;
    height: 33.3%;
    background-color:brown;
}

.wind-speed-container {
    clear: both;
    text-align: center;
    width: 100%;
    height: 33.4%;
    background-color: darkorange;
}

.footer-container {
    clear: both;
    text-align: center;
    width: 100%;
    height: 140px;
    background-color: darkorchid;
}

.long-search-bar {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 1px solid black;
    border-radius: 4px;
}

.search-button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

#searchButton:hover {
    background-color: aqua;
}

#searchButton:active {
    background-color: blue;
}

.preview {
    position: relative;
    text-align: center;
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
}

.preview:hover {
    opacity: 50%;
}

.preview-box {
    position: relative;
    text-align: center;
    width: 330px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}

.city-name-preview {
    position: absolute;
    top: 0%;
    left: 10%;
    padding: 5px;
    background-color: white;
}

.city-name {
    position: absolute;
    top: 0%;
    left: 10%;
    padding: 5px;
    background-color: white;
}

.temperature-preview {
    position: absolute;
    top: 0%;
    left: 70%;
    padding: 5px;
    background-color: white;
}

.temperature {

}

.weather-preview {

}

.weather {
    position: absolute;
    top: 40%;
    left: 10%;
    padding: 5px;
    background-color: white;
}

.humidity {

}

.wind-speed {

}

.display-none {
    display: none;
}

.add-button {
    position: relative;
    top: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.delete-button {
    
}

.clear-sky {
    background-image: url('./clear_sky.jpg');
    background-size: cover;
}

.few-clouds {
    background-image: url('./few_clouds.png');
    background-size: cover;
}

.scattered-clouds {
    background-image: url('./scattered_clouds.png');
    background-size: cover;
}

.broken-clouds {
    background-image: url('./broken_clouds.jpg');
    background-size: cover;
}

.overcast-clouds {
    background-image: url('./overcast_clouds.jpg');
    background-size: cover;
}

.mist {
    background-image: url('./mist.jpg');
    background-size: cover;
}

.fog {
    background-image: url('./fog.jpg');
    background-size: cover;
}

.haze {
    background-image: url('./haze.jpg');
    background-size: cover;
}

.light-rain {
    background-image: url('./light_rain.jpg');
    background-size: cover;
}

.moderate-rain {
    background-image: url('./moderate_rain.jpg');
    background-size: cover;
}

.heavy-intensity-rain {
    background-image: url('./heavy_intensity_rain.jpg');
    background-size: cover;
}

.no-margin {
    margin: 0px;
}